@model Lab1.DataAccess.Models.Phone

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Phone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    @foreach (var parameter in Model.PhoneParameterValues)
    {
        <dl class="dl-horizontal">
            <dt>
                @parameter.ParameterValue.Parameter.Name
            </dt>
            <dd>
                @parameter.ParameterValue.ValueText
            </dd>
        </dl>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
